* {
    margin: 0;
}

/*Class*/
.wrapper {
    width: 75%;
    margin: auto;

}

.content {
    margin-top: 2%;

}

a {
    text-decoration: none;
}

/*Header*/

header h1 {
    margin-left: 5%;
    color: forestgreen;
}

header img {
    width: 40px;
    float: left;
}

nav {
    clear: both;
}

nav ul {
    margin-top: 2%;
}

ul {
    background: forestgreen;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul li {
    color: white;
    background: forestgreen;
    display: inline-block;
    padding: 1rem;
    position: relative;
}

ul li a {
    color: white;
}

ul li:hover {
    background: limegreen;
    cursor: pointer;
}

ul li ul {
    background: limegreen;
    visibility: hidden;
    opacity: 0;
    min-width: 8rem;
    position: absolute;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}


/*Section*/
section {
    margin-top: 2%;
}

section h2 {
    margin-top: 2%;
    margin-bottom: 2%;
    color: limegreen;
}

section p {
    margin-top: 2%;

}

section img {
    width: 35%;
    margin-top: 0%;
    margin-bottom: 0%;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

thead {
    background-color: limegreen;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: limegreen;
}

/*Form*/
fieldset {
    border: 3px solid limegreen;
}

input {
    border: 2px solid limegreen;
    width: 300px;
}

textarea {
    border: 2px solid limegreen;
    width: 300px;
    height: 150px;
}

button {
    font-weight: bold;
    border: 2px solid limegreen;
    background-color: limegreen;
}

/*Footer*/
footer {
    margin: 3%;
    text-align: center;
}

/* Media Query */
@media only screen and (max-width: 500px) {
    body {
        background-color: black;
        color: green;
        font-family: courier new;
    }

    table,
    th,
    td {
        border: 2px solid green;
        border-collapse: collapse;
    }

    thead {
        background-color: white;
        color: green;
    }

    tbody tr:nth-child(even) {
        background-color: black;
    }
}